
@font-face {
    font-family: maragsa;
    src: url(assets/Maragsâ-Display.woff2);
}

body {
    background-color: #FFFDF5;
    margin: 0;
    padding: 0;

}

.textbox {

    position: relative;
    height: 100vh;
    width: 100vw;

}

.text {
    position: absolute;
    text-align: center; 

    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
}

.hero {
    margin:0;
    padding: 0;

    font-family: maragsa, serif;
    color: #E50404;
    font-size:75px;
}

.brod {
    font-family: 'Fira Mono', monospace;
    color: #8F1717
}
