

/* CSS for basis elementer */




/* fonter */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
  font-family: 'PABLO';
  src: url(assets/fonts/PABLO.ttf);
}


@font-face {
  font-family: "ThunderBlack_woff2";
  src: url(assets/fonts/Thunder-BlackLC.woff2);
}

@font-face {
  font-family: "ThunderBlack_otf";
  src: url(assets/fonts/Thunder-BlackLC.otf);
}


@font-face {
    font-family: BergenMono-Bold;
    src: url(assets/fonts/BergenMono-Bold.otf);
}






/* Hoved */

body {
    background-color: rgb(14, 13, 13);
    font-size: 16px;
    margin: 0;
    padding: 0;

}