#portfolioContainer {
    margin-top: 150px;
    width: 100%;
}

#innhold_portfolio{
    height: fit-content;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.vindu {
    width: fit-content;
    height: fit-content;
    margin:10px;
    padding:0;
    outline: var(--main-farge) 1px solid;
    background-color: transparent;
    border:0;

    margin-top: 50px;

    border-radius: 33px;
    transition: all .05s ease-in-out;

    cursor: pointer;
}
.vindu:hover {
    outline: var(--main-farge) 4px solid;
}
.vindu:focus-visible{
    outline: var(--main-farge) 4px solid;
}

.ikke_i_bruk{
    outline: var(--main-farge) 1px dashed;
    cursor: not-allowed;
}
.ikke_i_bruk:focus-visible{
    outline: var(--main-farge) 3px dotted;
}
.ikke_i_bruk:hover{
    outline: var(--main-farge) 3px dotted;
}

.mainbilde{
    height: 200px;
    width: 200px;
    border-radius: 33px;
    margin: 0;
    object-fit:cover;


    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 1) 40%, transparent 90%);
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 40%, transparent 90%);

}

.mellomtittel{
    font-family: maragsa, serif;
    color: var(--main-farge);
    margin: 0;
}

.brod {
    margin:0;
}




.tekstPortfolio{
    padding:10px;
    margin-top: 0;
    margin-bottom: 10px;
    word-wrap: break-word;

}

#portfolioTittelContainer{
    animation: dukkOpp 1s linear;
}

#skillelinje{
    border-top: var(--main-farge) 3px solid;
    border-radius: 33px;
    width: 50vw;
}

#prosjekterTittel {
    text-align: center;
    
}

@keyframes dukkOpp {
    0%{transform: translateY(-10px); opacity: 0%;}
    100% {transform: translateY(0px); opacity: 100%;}
    
}