@font-face {
    font-family: maragsa_woff2;
    src: url(../assets/fonts/Maragsa-Display.woff2);
}

@font-face {
    font-family: maragsa_otf;
    src: url(../assets/fonts/Maragsa-Display.otf);
}

html, body {
    overflow-x: hidden;
}

a {
    color: var(--main-farge);
}

body {
    background-color:var(--bakgrunn-farge);
    padding-top: 0px;
    padding:0px;
    margin:0;

    position: relative;
    
}

#bunnFyll {
    position: relative;
    height: 100px;
    width: 100%;
}

:root{
    --brod-font-storrelse: 16px;

    --main-farge: #ff2929;
    --main-highlight: #ff0000;
    --sekundaer-farge: #8F1717;
    --sekundaer-highlight: #b62525;
    --bakgrunn-farge: #FFFDF5;
}

/* Style tab fokusering */
button:focus:not(:focus-visible), 
a:focus:not(:focus-visible), 
input:focus:not(:focus-visible), 
textarea:focus:not(:focus-visible), 
select:focus:not(:focus-visible), 
div[tabindex]:focus:not(:focus-visible) {
  outline: none;
}

button:focus-visible, 
a:focus-visible, 
input:focus-visible, 
textarea:focus-visible, 
select:focus-visible, 
div[tabindex]:focus-visible {
  outline: 2px solid var(--main-farge);
  outline-offset: 3px;   
  border-radius: 4px;
}

.hero {
    margin:0;
    padding: 0;

    font-family: maragsa_woff2, maragsa_otf;
    color: var(--main-farge);
    font-size: 75px;
}

.brod {
    font-display: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: var(--brod-font-storrelse);
    color: var(--sekundaer-farge);

    line-height: 30px;
    
}

#logoroed {
    width:100px;
    fill:var(--main-farge);
    animation: spinn 0.9s;
}
#logoroed:hover {
    animation: spinn infinite .9s;
}

#spraakDiv{
    text-align: right;
}
#spraak{
    font-size: var(--brod-font-storrelse)
}