@font-face {
    font-family: maragsa_woff2;
    src: url(../assets/fonts/Maragsa-Display.woff2);
}

@font-face {
    font-family: maragsa_otf;
    src: url(../assets/fonts/Maragsa-Display.otf);
}

html, body {
    overflow-x: hidden;
}

a {
    color: var(--main-farge);
}

body {
    background-color:var(--bakgrunn-farge);
    padding-top: 0px;
    padding:0px;
    margin:0;

    position: relative;
    
}

#bunnFyll {
    position: relative;
    height: 100px;
    width: 100%;
}

:root{
    --brod-font-storrelse: 16px;

    --main-farge: #ff2929;
    --main-highlight: #ff0000;
    --sekundaer-farge: #8F1717;
    --sekundaer-highlight: #b62525;
    --bakgrunn-farge: #FFFDF5;
}

.hero {
    margin:0;
    padding: 0;

    font-family: maragsa_woff2, maragsa_otf;
    color: var(--main-farge);
    font-size: 75px;
}

.brod {
    font-display: auto;
    font-family: 'Fira Sans', sans-serif;
    font-size: var(--brod-font-storrelse);
    color: var(--sekundaer-farge);

    line-height: 30px;
    
}

#logoroed {
    width:100px;
    fill:var(--main-farge);
}

#logoroed:hover{
    animation: spinn 1.1s;
}

#spraakDiv{
    text-align: right;
}
#spraak{
    font-size: var(--brod-font-storrelse)
}