

.trainWindow{

    --height: 347px;
    --width: 206px;

    position: relative;
    border: var(--main) solid 9px;
    height: var(--height);
    width: var(--width);

    box-sizing: border-box;
    overflow: hidden;

    border-radius: 100px 100px 33px 33px;
}

.scenery {
    border-radius: inherit;
    background-color: aquamarine;
    height: 100%;
    display: flex;
    align-items: flex-end;

    

}



.foregroundDiv {
    
    display: flex;
    position: absolute;
    
    
}

.foregroundItem {
    animation: rightToLeft 1s linear infinite;
}




.middlegroundDiv {
    
    display: flex;
    position: absolute;

}

.middlegroundItem {
    animation: rightToLeft 2s linear infinite;
}



.backgroundDiv {
    display: flex;
    position: absolute;
    margin-bottom: 200px;
}

.backgroundItem {
    animation: rightToLeft 10s linear infinite;
}



/*================================ ANIMATIONS ===============================*/

@keyframes rightToLeft {
    from{
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);  /*  */
    }
}
