

.trainWindow{

    --height: 347px;
    --width: 206px;

    position: relative;
    border: var(--main) solid 9px;
    height: var(--height);
    width: var(--width);

    box-sizing: border-box;
    overflow: hidden;

    border-radius: 100px 100px 33px 33px;
}

.scenery {
    border-radius: inherit;
    background-color: aquamarine;
    height: 100%;
    display: flex;
    align-items: flex-end;

}



.foregroundDiv {
    position: absolute;
    display: flex;
    
}

.foregroundItem {
    animation: rightToLeft 3s linear infinite;
}




.middlegroundDiv {
    animation: rightToLeft 3s linear infinite;

    
}

.middlegroundItem {

}



.background {
    /* TODO */
}



/*================================ ANIMATIONS ===============================*/

@keyframes rightToLeft {
    from{
        transform: translateX(calc(var(--width) + 20px));
    }
    to {
        transform: translateX(calc(var(--width) * -1 - 30px));  /*  */
    }
}
