.noise1::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.05;  
    mix-blend-mode: difference;
    z-index: 1000;
    pointer-events: none;
    background: url("assets/gifs/noise.gif");
    
    
    }
    
    .noise2::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 1;  
    mix-blend-mode: difference;
    z-index: 1000;
    pointer-events: none;
    background: url("assets/gifs/scratches.gif");
    
    
    }
    
    .noise3::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;  
    mix-blend-mode: overlay;
    z-index: 1000;
    pointer-events: none;
    background: url("assets/paper.webp");
    
    
    }
    
   