@tailwind base;

html {
    scroll-behavior: smooth
};
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Mogi';
      font-style: normal;
      font-display: swap;
      src: url(/fonts/LCMogi-VF.ttf) format('truetype');
    }
  }