@font-face {
    font-family: maragsa;
    src: url(assets/Maragsâ-Display.woff2);
}

body {
    width:100vw;
    height:100vh;

    background-color:#FFFDF5;
}

#vindu {
    position: absolute;
    z-index: 10;
    white-space: nowrap;

    opacity:100%;
}

.vinduDiv{
    position: relative;
    display: flex;
    justify-content: center;
    height: 413px; /* Samme høyde som Vindu SVG */

    white-space: nowrap;

    margin-top: 5%;
    margin-bottom: 0px;
}

.vinduInnhold {
    position: absolute;
    top:50%;
    
}

.forgrunn {

}

.gjerde {
    animation: vanlig0-100 1s linear infinite;
}

#gjerde1{
    opacity: 100%;
    margin-left: 225px;

}

#gjerde2{
}

.bakgrunn{

    top:0px;
    position: absolute;
    margin-left: 300px;


}

.trer {

    animation: vanlig0-100 5s linear infinite;

}

.fly {
    scale: 50%;
    bottom:200px;
    position: absolute;
    animation: fly 20s linear infinite;
}

#vindu {
    animation: vinduBump 0.5s ease-in infinite;
}



.textbox{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    
}


/* Text Formatering */
.hero {
    margin:0;
    padding: 0;

    font-family: maragsa, serif;
    color: #E50404;
    font-size:75px;
}

.brod {
    font-family: 'Fira Mono', monospace;
    color: #8F1717
}

#aar{
    color:#E50404;
}