
@font-face {
    font-family: maragsa;
    src: url(assets/Maragsâ-Display.woff2);
}

body {
    width:100vw;
    height:100vh;
    background-color:#FFFDF5;
    position: relative;
    margin:0;
    padding:0;
}

.textbox {
    background-color: red;
}

.text {
    text-align: center; 



}

.hero {
    margin:0;
    padding: 0;

    font-family: maragsa, serif;
    color: #E50404;
    font-size:75px;
}

.brod {
    font-family: 'Fira Mono', monospace;
    color: #8F1717
}
